<style>
.title-image {
    margin-top: 4px;
    height: 34px;
}
.title-image {
    margin-top: 8px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#text {
    color: rgb(105,105,105);
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
}
.item.item-divider.profile {
    font-weight:500;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:rgb(105,105,105);
    text-align:center;
    font-size: 12px;
}
#continue-button {
    font-weight:bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:rgb(179,179,179);
    text-align:center;
    font-size: 10px;
}
</style>
<div>
    <ion-nav-bar class="bar-stable" align-title="center">
        <ion-nav-back-button style="color:rgb(179,179,179)"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="registration"></ion-nav-view>
</div>