<style>
.menu-icon {
    color: rgb(105,105,105);
}
.item-icon-right {
    color: rgb(105,105,105);
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
}
#side-menu-title-image {
    height: 25px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title-image {
    margin-top: 8px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#continue-button {
    font-weight:bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color:rgb(179,179,179);
    text-align:center;
    font-size: 10px;
}
#profile-picture {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    height: 300px;
}
.item.item-divider.sidemenu {
    font-weight:600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:rgb(105,105,105);
    text-align:center;
    font-size: 12px;
}
#text {
    color: rgb(105,105,105);
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 10px;
    display: inline;
}
</style>

<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button style="color:rgb(179,179,179)"></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <img id="side-menu-title-image" src="img/logo.png">
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
                <ion-list class=" ">
                    <ion-item class="item-icon-right" ui-sref="sidemenu.home_questions" menu-close="">Home
                        <i class="icon ion-android-home"></i>
                    </ion-item>
                    <ion-item class="item-icon-right" ui-sref="sidemenu.my_profile" menu-close="">My Profile
                        <i class="icon ion-android-person"></i>
                    </ion-item>
                    <ion-item class="item-icon-right" ui-sref="sidemenu.friends" menu-close>Mojo Friends
                        <i class="icon ion-android-people"></i>
                    </ion-item>
                    <ion-item class="item-icon-right" ui-sref="sidemenu.settings" menu-close="">Settings
                        <i class="icon ion-settings"></i>
                    </ion-item>
                    <ion-item class="item-icon-right" ng-click="logout()" menu-close="">Logout
                        <i class="icon ion-log-out"></i>
                </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>